body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.mapContainer {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 0;
}

body {
	background: #eee !important;	
}

.wrapper {	
  margin: 5% 0 0 5%;  
}

.holder {
  max-width: 380px;
  padding: 15px 35px 45px;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.1);  
}

.results {
  margin-top: 10px;
}

.results tr{
  display:table-row;
}

.counter{
  padding:8px; 
  color:#ccc;
}